<div class="col-md-8">
    <%= current_user.nombre %>
    <% if current_user.houses.any? %>
      <h3>CASAS (<%= current_user.houses.count %>)</h3>
      <ol class="houses">
        <% @houses = current_user.houses.paginate(page: params[:page]) %>
        <%= render @houses %>
      </ol>
      <%= will_paginate @houses %>
    <% end %>
  </div>